.activity-section {
    margin-bottom: 20px;
}
  
.activity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.toggle-bar {
    display: flex;
    align-items: center;
}
  
.divider-activity {
    border: none; /* Remove bordas padrão */
    height: 3px; /* Altura da linha */
    background-color: #142433; /* Cor da linha */
    margin: 0; /* Remove margens para alinhar perfeitamente */
    width: 100%; /* Largura total do container */
    margin-bottom: 10px;
}
  