.cards-teacher-home {
    position: relative;
    border: 1px solid #142433;
    border-radius: 40px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    width: 95%;
    max-width: 1400px;
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-wrap: break-word;
    box-sizing: border-box;
}





.card-teacher-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.card-teacher-description {
    font-size: 1.0rem;
        
}

.card-teacher-registrationNumber{
    font-size: 1.0rem;
}

.card-teacher-date {
    font-size: 0.8rem;
    color: #777;
    position: absolute;
    top: 10px;
    right: 30px;

}

.card-teacher-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #142433;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;

}

.card-teacher-button:hover {
    background-color: #444d66;
}

/* Estilo do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;

}

.modal-content h3 {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.modal-content p {
    margin: 20px 0;
    font-size: 0.9rem;
}

.modal-button-container {
    display: flex; /* Flexbox para alinhar os botões lado a lado */
    justify-content: flex-end; /* Alinha os botões à direita */
    margin-top: auto; /* Empurra os botões para a parte inferior */
    gap: 10px; /* Adiciona espaço entre os botões */
}
  
  .close-modal-button {
    padding: 10px 15px;
    background-color: #333e54;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}
  
  .close-modal-button:hover {
    background-color: #444d66;
}
  


@media (max-width: 768px) {
    .cards-teacher-home {
        flex: 1 1 100%;
        margin-bottom: 20px; 
    }

    .cards-teacher-container {
        padding: 10px;
    }
}