.activity-card {
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.activity-info {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.activity-details{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.activity-date{
  align-self: flex-start;
  margin-bottom: 50px;
}

.activity-status{
  align-self: flex-end;
}

.see-more-button{
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: thin solid;
  width: 80px;
  cursor: pointer;
  box-shadow: inset;
  size: 10cap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 6px;
  background-color: white;
  
  
}

.see-more-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}