.activity-card {
  background-color: white;
  color: black;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 40px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.activity-info {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  margin-bottom: auto;
}

#date, #status{
  color: #808080;
}

.activity-button{
  padding-right: 5px;
  /* display: flex;
  flex-direction: column; */
  margin-top: auto;
}

.activity-date{
  align-self: flex-start;
 
}

.activity-status{
  padding-top: 20px;
}

.see-more-button{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: none;
  width: 90px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  color: white;
  background-color: #132433;
  margin-top: 35px;
}

.see-more-button:active {
  box-shadow: 0 5px #132433;
  transform: translateY(4px);
}