.toggle-content {
    margin-top: 10px;
}
  
.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.toggle-button:hover{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}
  
.content {
    margin-top: 10px; /* Espaço entre a linha e o conteúdo */
    padding-left: 20px;
}
  