.AdminStudents{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adm-students-dashboard {
    width: 80vw;
    height: 70vh;
    background-color: #FFF;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px #142433;
    display: flex;
    flex-direction: column;
}

.students-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Mantém o tamanho especificado */
}

.search-bar {
    width: 100%;
    padding: 10px 40px; /* Ajusta o padding para alinhar o placeholder */
    border: 1px solid #fad9a6;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 15px; /* Ajuste conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    color: #fad9a6;
    font-size: 18px;
}

.student-card {
    max-width: 100%;
    background-color: #142433; /* Cor de fundo do card */
    color: #fff; /* Cor da fonte preta */
    padding: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.student-info {
    display: grid;
    padding: 2em;
    justify-self: center;
}

.toggle-icon {
    cursor: pointer;
    font-size: 20px;
    color: #fff; /* Cor do ícone preta */
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 0 1em;
}

.student-info h3 {
    margin: 3px;
    font-size: 18px;
}

.student-info p {
    margin: 3px;
    font-size: 14px;
}

.divider {
    width: 100%;
    border: 2px solid #142433;
    margin: 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.students-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.student-details {
    background-color: #295264; /* Cor de fundo clara */
    padding: 1em 1em 3em 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.student-details h3 {
    display: flex;
    background-color: #233a43;
    padding: 1em 10em;
    border-radius: 10px;
    margin: 10px 0;
    align-content: center;
    justify-content: center;
}

.student-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.student-details li {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

.activity-item {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#activity-name {
    font-size: 20px;
    font-weight: bold;
    max-width: 90%;
    justify-self: start;
}

#activity-description {
    max-width: 90%;
    justify-self: center;
}

#activity-attachment {
    max-width: 90%;
    justify-self: end;
}