.login-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #295264;
    background-image: url(../assets/images/blue_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Usa a mesma imagem */
    background-size: inherit;
    background-position: inherit;
    filter: blur(2px); /* Intensidade do blur */
    z-index: -1;
}

.login-container {
    min-width: 35vw;
    min-height: 40vh;
    min-width: 35vw;
    min-height: 40vh;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 35px;
    box-shadow: 0 4px 20px #142433;
    border-radius: 35px;
    box-shadow: 0 4px 20px #142433;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.login-container h1 {
    font-size: 25px;
    color: #142433;
    margin-bottom: 0px;
    font-weight: bolder;
}

.login-container .welcome-subtitle {
    font-size: 20px;
    color: #142433;
    margin-bottom: 6px;
    font-weight: normal;
    font-size: 25px;
    color: #142433;
    margin-bottom: 0px;
    font-weight: bolder;
}

.login-container .welcome-subtitle {
    font-size: 20px;
    color: #142433;
    margin-bottom: 6px;
    font-weight: normal;
}

.login-container .login-input-field {
    position: relative;
    margin: 20px 0;
}

.login-input-field input {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #FAD9A6;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
}

.login-input-field .login-icon {
    position: absolute;
   
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #FAD9A6;
    color: #FAD9A6;
    font-size: 18px;
}

.login-container .login-password-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.login-password-forget a {
    color: #142433;
    color: #142433;
    text-decoration: none;
}

.login-password-forget a:hover {
    text-decoration: underline;
}

.login-container button {
    width: 70%;
    width: 70%;
    padding: 12px 0;
    background-color: #142433;
    background-color: #142433;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #295264;
    background-color: #295264;
}

