
.body-user-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

main{
  height: 100vh;
}

.Container{  
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  max-width: 700px;
  max-height: 700px;
  height: 80%;
  width: 90%;
  padding: 10px;
  padding-bottom: 50px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  
}

.ScrollableForm {
  max-height: 100vh; /* Definindo a altura máxima rolável */
  overflow-y: auto;  /* Ativando a rolagem apenas no conteúdo do formulário */
  
  padding-right: 15px; /* Espaço para o scroll */
  scrollbar-color: #132433 #fff; /* Cor do thumb e do track */

}

.FormContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
  width: 100%;
  /* height: auto; */
  overflow-y: auto;
  position: relative;
}

.FormGroup{
  margin-bottom: 10px;
  
}


form{
  
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

input {
  font-family: 'Poppins', sans-serif;
  width: 35vw;
  height: 17px;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 25px;
  border: 2px solid #fad9a6;
  background-color: #fff;
  ;
  
}
input[type="submit"]{
  
  width: 28vw;
  height: auto; /* ISSO FEZ COM QUE O BOTÃO FOSSE MOSTRADO COMPLETAMENTE NO CONTEÚDO ROLÁVEL */
  background-color: #132433;
  color: #fff;
  margin-top: 20px;
  border-radius: 20px;
 

}

input[type="submit"]:hover{
  background-color: #fff;
  color: #132433;
  border: 2px solid #132433;
  cursor: pointer;
}


.ScrollableForm::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */
}

.ScrollableForm::-webkit-scrollbar-thumb {
  background-color: #132433; /* Cor do thumb (parte que arrasta) */
  border-radius: 10px; /* Arredondando as bordas do thumb */
}

.ScrollableForm::-webkit-scrollbar-thumb:hover {
  background-color: #0f1e2a; /* Cor mais escura quando o usuário passa o mouse */
}

.ScrollableForm::-webkit-scrollbar-track {
  background-color: #fff; /* Cor do fundo da scrollbar */
  border-radius: 10px; /* Arredondando as bordas do track */
  border: 3px solid #fad9a6; /* Cor da borda do track */
}

.ScrollableForm::-webkit-scrollbar-button {
  background-color: #132433; /* Cor das setas */
  border-radius: 50%; /* Deixa as setas com um estilo arredondado */
}

.ScrollableForm::-webkit-scrollbar-button:hover {
  background-color: #0f1e2a; /* Cor mais escura nas setas ao passar o mouse */
}