
body{
  height: 100vh;
  background-image: url('../../../assets/images/background.jpg');
  background-size: cover;
}

@media (max-width: 768px) { 

  body, html {
    overflow-x: hidden;
    height: 100%;
  }
   
  .container{
    flex-direction: column-reverse;
    position: relative;
    padding-top: 0px;
    padding-bottom: 80px;
    max-width: 100%;
    width: 100%;
    height: 100vh;
  }

  .see-more-button{
    margin-top: 30px; 
  }
  
  .left-section{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 20vh;
    position:sticky;
    border-radius: 100px;
    bottom: 5px;
    z-index: 1;
  }

  
  .right-section{
    height: auto;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100vh;

  }

  .card-container{
    height: 100%;
    overflow-y: auto;
    align-items: center;
    margin: 0; /* Ou ajuste conforme necessário */
    padding: 0; /* Ajuste conforme necessário */
    width: 100vw; /* Para ocupar toda a largura */
    
  }

  /*.left-section, .right-section{
    width: 100%;
    max-width: 100%;
    position: relative; 
    margin-bottom: 20px;
  
  } */

  } 



/* 
######################################################

Aqui acaba o @media 

######################################################
*/
  
.sections *{
  margin: 0;
  padding: 0;
}

.left-section{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  height: 100%;
  width: 100%;
  

}

.button-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    height: 90%;
    background-color: white;
    border-radius: 20px;
    width: 90%;
 
}

/* .plus-icon{
  width: 35px;
} */

.new-activity-button{
  width: 65px;
  text-align: center;
  border-radius:50px;
  border: solid 2px;
  font-weight: 100;
  font-size: 50px;
  background: transparent;
  cursor: pointer;
  
}

.new-activity-button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.activity-text{
  font-size:24;
  margin-bottom:10px;
}

.right-section{ 
  display: flex;
  height: 100% ;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  margin-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #132433 #ffffff;
  
}

.container{
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%; /* Isso garante que não haverá limite de largura */
  padding: 0; /* Remova padding se houver */
  margin: 0; /* Remova margens se houver */
  overflow: hidden;
}

.card-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
 
}

