
body{
  height: 100vh;
  background-image: url('../../../assets/images/background.jpg');
  background-size: cover;
}

@media (max-width: 768px) { 

  body, html {
    overflow-x: hidden;
    height: 100%;
  }
   
  .container{
    flex-direction: column-reverse;
    position: relative;
    padding-top: 0px;
    padding-bottom: 80px;
    max-width: 100%;
    width: 100%;
    height: 100vh;
  }

  .see-more-button{
    margin-top: 30px; 
  }
  
  .left-section{
    width: 100vh;
    position:sticky;
    bottom: 0px;
    z-index: 1;
  }

  .right-section{
    height: auto;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100vh;

  }

  .card-container{
    height: auto;
    overflow-y: auto;
    align-items: center;
    margin: 0; /* Ou ajuste conforme necessário */
    padding: 0; /* Ajuste conforme necessário */
    width: 100vw; /* Para ocupar toda a largura */
    
  }

  /*.left-section, .right-section{
    width: 100%;
    max-width: 100%;
    position: relative; 
    margin-bottom: 20px;
  
  } */

  } 



/* 
######################################################

Aqui acaba o @media 

######################################################
*/

.main{
  height: 100vh; /* Para que a altura ocupe 100% da viewport */
  

}
  
.sections *{
  margin: 0;
  padding: 0;
}

.left-section{
  
  display: flex;
  flex:2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  

}

.button-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 24px; 
 
}

/* .plus-icon{
  width: 35px;
} */

.new-activity-button{
  width: 65px;
  text-align: center;
  border-radius:50px;
  border: solid 2px;
  font-weight: 100;
  font-size: 50px;
  background: transparent;
  cursor: pointer;
  
}

.new-activity-button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.activity-text{
  font-size:24;
  margin-bottom:10px;
}

.right-section{ 
  display: flex;
/*   
  margin-left: auto;
  margin-top: auto;
   */
  height: 100vh;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #333e54; */
  padding: 30px;
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;  
  scrollbar-width: thin;
  scrollbar-color: #132433 #ffffff;
  
}

.container{
  height: 100vh;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%; /* Isso garante que não haverá limite de largura */
  padding: 0; /* Remova padding se houver */
  margin: 0; /* Remova margens se houver */
}

.card-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-height: 100vh;
 
}

.right-section {
  overflow-y: auto; /* Necessário para que a scrollbar apareça */
  height: 100%; /* Ajuste o tamanho conforme necessário */
}

